<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
<p>
  <a href="/">Home</a> |
  <a href="/new_post">New Post</a> |
  <a href="/new_author">New Author</a> |


</p>

<hr>

<%= yield %>

</html>